## Module 9 Home work 
### Please complete the following questions.

1. Import the two libraries needed to work with your dataset.

In [1]:
import pandas as pd
import numpy as np

2. Import the "Dental Patients 2.xlsx" dataset.

In [2]:
dental_df = pd.read_excel("Dental Patients 2.xlsx")

3. Explore the characteristics of your dataset. Find the following:
    * the first 5 rows
    * the last 5 rows
    * the shape of the dataset (number of rows and columns)
    * the descriptive statistics for the numeric columns

In [3]:
dental_df.head()

,First,Last,Age,Gender,Insurance,EmergencyContact,NewPatient,OutstandingBalance,Allergies
0,Jane,Jackson,35.0,F,Y,Y,N,48,N
1,Grant,Chaney,NaN,M,Y,Y,N,15,N
2,Shellie,Fowler,NaN,F,Y,Y,N,3,N
3,Hortensia,Moore,NaN,F,Y,Y,N,63,N
4,Gwenda,Oneal,41.0,F,Y,Y,N,0,N

In [4]:
dental_df.tail()

,First,Last,Age,Gender,Insurance,EmergencyContact,NewPatient,OutstandingBalance,Allergies
50,Shellie,Fowler,61.0,F,Y,Y,N,3,N
51,Hortensia,Moore,71.0,F,Y,Y,N,63,N
52,Gwenda,Oneal,41.0,F,Y,Y,N,0,N
53,Latricia,Sampson,21.0,F,Y,Y,N,0,N
54,Eun,Sims,52.0,M,Y,Y,N,0,N

In [5]:
dental_df.shape

(55, 9)

In [6]:
dental_df.describe()

             Age  OutstandingBalance
count  50.000000           55.000000
mean   45.400000           84.836364
std    16.800146          107.508788
min    19.000000            0.000000
25%    32.250000            0.000000
50%    44.500000           44.000000
75%    58.500000          120.500000
max    78.000000          344.000000

4. What are the summary characteristics of the dataset? Use the info function to print the details. Jot down two observations you have about this dataset.

In [7]:
dental_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   First               54 non-null     object
 1   Last                53 non-null     object
 2   Age                 50 non-null     float64
 3   Gender              55 non-null     object
 4   Insurance           55 non-null     object
 5   EmergencyContact    51 non-null     object
 6   NewPatient          55 non-null     object
 7   OutstandingBalance  55 non-null     int64
 8   Allergies           48 non-null     object
dtypes: float64(1), int64(1), object(7)
memory usage: 4.0+ KB

5. Locate the columns that have missing data. Which column has the most?

In [8]:
dental_df.loc[dental_df.isnull().any(axis = 1)] # Allergies

,First,Last,Age,Gender,Insurance,EmergencyContact,NewPatient,OutstandingBalance,Allergies
1,Grant,Chaney,NaN,M,Y,Y,N,15,N
2,Shellie,Fowler,NaN,F,Y,Y,N,3,N
3,Hortensia,Moore,NaN,F,Y,Y,N,63,N
6,Eun,Sims,52.0,M,Y,NaN,N,0,N
7,Riva,Andrade,26.0,M,N,NaN,N,0,N
8,Carolyn,Taylor,69.0,F,N,NaN,N,0,N
9,Reid,Sims,37.0,M,Y,NaN,N,341,N
23,Zenobia,Morgan,NaN,M,Y,N,Y,112,N
24,Stefany,NaN,NaN,F,Y,N,Y,42,N
27,Lesley,Moran,63.0,M,N,N,N,286,NaN
28,Ricki,Bailey,59.0,M,N,N,N,82,NaN
29,Bernadette,Chan,43.0,F,Y,N,N,0,NaN
30,Tessie,Russell,74.0,F,Y,N,N,152,NaN
31,NaN,Russell,25.0,M,Y,N,N,23,NaN
32,Manuel,Mason,50.0,M,N,N,Y,66,NaN
33,Carolin,Hudson,19.0,F,Y,Y,Y,49,NaN
36,Joline,NaN,48.0,F,Y,Y,Y,41,N

6. Using the column that is missing the most data, locate and return the rows where the data is missing.

In [9]:
dental_df.loc[dental_df["Allergies"].isnull()]

,First,Last,Age,Gender,Insurance,EmergencyContact,NewPatient,OutstandingBalance,Allergies
27,Lesley,Moran,63.0,M,N,N,N,286,NaN
28,Ricki,Bailey,59.0,M,N,N,N,82,NaN
29,Bernadette,Chan,43.0,F,Y,N,N,0,NaN
30,Tessie,Russell,74.0,F,Y,N,N,152,NaN
31,NaN,Russell,25.0,M,Y,N,N,23,NaN
32,Manuel,Mason,50.0,M,N,N,Y,66,NaN
33,Carolin,Hudson,19.0,F,Y,Y,Y,49,NaN

7. Using the column that is missing the most data, replace the missing values with "Unknown - Ask Patient".

In [10]:
dental_df["Allergies"].fillna("Unkown - Ask Patient",inplace = True)

In [11]:
dental_df

,First,Last,Age,Gender,Insurance,EmergencyContact,NewPatient,OutstandingBalance,Allergies
0,Jane,Jackson,35.0,F,Y,Y,N,48,N
1,Grant,Chaney,NaN,M,Y,Y,N,15,N
2,Shellie,Fowler,NaN,F,Y,Y,N,3,N
3,Hortensia,Moore,NaN,F,Y,Y,N,63,N
4,Gwenda,Oneal,41.0,F,Y,Y,N,0,N
5,Latricia,Sampson,21.0,F,Y,Y,N,0,N
6,Eun,Sims,52.0,M,Y,NaN,N,0,N
7,Riva,Andrade,26.0,M,N,NaN,N,0,N
8,Carolyn,Taylor,69.0,F,N,NaN,N,0,N
9,Reid,Sims,37.0,M,Y,NaN,N,341,N
10,Jamila,Downs,68.0,F,Y,N,N,294,N
11,Vannesa,Hays,55.0,F,Y,Y,N,13,N
12,Andre,Griffin,22.0,M,Y,N,N,99,N
13,Lynda,Wilkinson,60.0,F,Y,Y,N,151,N
14,Gricelda,Andrade,78.0,F,N,Y,N,128,N
15,Connie,Savage,34.0,F,N,Y,Y,0,N
16,Erma,Pruitt,36.0,F,N,Y,N,0,Y
17,Krysten,Richmond,40.0,F,Y,Y,N,0,N
18,Joel,Santos,39.0,M,Y,Y,N,0,N
19,Krystina,Benton,23.0,F,Y,Y,Y,0,N
20,Sharon,Landry,65.0,F,N,Y,Y,0,N
21,Marjorie,Dougherty,54.0,F,Y,Y,Y,0,N
22,Kenya,Compton,38.0,M,Y,Y,Y,210,N
23,Zenobia,Morgan,NaN,M,Y,N,Y,112,N
24,Stefany,NaN,NaN,F,Y,N,Y,42,N
25,Rosaura,Ellis,33.0,M,Y,N,Y,10,Y
26,Juliane,Hayden,24.0,F,N,N,N,275,N
27,Lesley,Moran,63.0,M,N,N,N,286,Unkown - Ask Patient
28,Ricki,Bailey,59.0,M,N,N,N,82,Unkown - Ask Patient
29,Bernadette,Chan,43.0,F,Y,N,N,0,Unkown - Ask Patient
30,Tessie,Russell,74.0,F,Y,N,N,152,Unkown - Ask Patient
31,NaN,Russell,25.0,M,Y,N,N,23,Unkown - Ask Patient
32,Manuel,Mason,50.0,M,N,N,Y,66,Unkown - Ask Patient
33,Carolin,Hudson,19.0,F,Y,Y,Y,49,Unkown - Ask Patient
34,Waneta,Cohen,51.0,F,Y,Y,N,44,N
35,Rana,Parks,27.0,M,Y,Y,Y,344,Y
36,Joline,NaN,48.0,F,Y,Y,Y,41,N
37,Le,Mckenzie,47.0,M,Y,Y,N,78,Y
38,Shaquana,Yates,30.0,F,Y,Y,Y,121,N
39,Margarette,Tapia,70.0,F,Y,Y,N,235,N
40,Norah,Meyers,44.0,F,Y,Y,Y,89,N
41,Branden,Hays,53.0,M,Y,Y,N,108,N
42,Denita,Taylor,29.0,F,Y,Y,N,317,N
43,Mathilde,Gaines,32.0,F,Y,Y,N,0,N
44,Ettie,Wells,73.0,F,N,Y,N,0,N
45,Marjory,Thompson,45.0,F,N,Y,N,61,N
46,Erlinda,Hendricks,49.0,F,Y,Y,N,120,N
47,Amee,Carter,57.0,M,N,Y,N,0,Y
48,Loralee,Gates,66.0,F,Y,Y,Y,278,Y
49,Luana,Taylor,20.0,F,N,N,Y,302,N
50,Shellie,Fowler,61.0,F,Y,Y,N,3,N
51,Hortensia,Moore,71.0,F,Y,Y,N,63,N
52,Gwenda,Oneal,41.0,F,Y,Y,N,0,N
53,Latricia,Sampson,21.0,F,Y,Y,N,0,N
54,Eun,Sims,52.0,M,Y,Y,N,0,N

8. Replace the missing values in the "EmergencyContact" column with "Unknown - Ask Patient".

In [12]:
dental_df["EmergencyContact"].fillna("Unkown - Ask Patient",inplace = True)

In [13]:
dental_df

,First,Last,Age,Gender,Insurance,EmergencyContact,NewPatient,OutstandingBalance,Allergies
0,Jane,Jackson,35.0,F,Y,Y,N,48,N
1,Grant,Chaney,NaN,M,Y,Y,N,15,N
2,Shellie,Fowler,NaN,F,Y,Y,N,3,N
3,Hortensia,Moore,NaN,F,Y,Y,N,63,N
4,Gwenda,Oneal,41.0,F,Y,Y,N,0,N
5,Latricia,Sampson,21.0,F,Y,Y,N,0,N
6,Eun,Sims,52.0,M,Y,Unkown - Ask Patient,N,0,N
7,Riva,Andrade,26.0,M,N,Unkown - Ask Patient,N,0,N
8,Carolyn,Taylor,69.0,F,N,Unkown - Ask Patient,N,0,N
9,Reid,Sims,37.0,M,Y,Unkown - Ask Patient,N,341,N
10,Jamila,Downs,68.0,F,Y,N,N,294,N
11,Vannesa,Hays,55.0,F,Y,Y,N,13,N
12,Andre,Griffin,22.0,M,Y,N,N,99,N
13,Lynda,Wilkinson,60.0,F,Y,Y,N,151,N
14,Gricelda,Andrade,78.0,F,N,Y,N,128,N
15,Connie,Savage,34.0,F,N,Y,Y,0,N
16,Erma,Pruitt,36.0,F,N,Y,N,0,Y
17,Krysten,Richmond,40.0,F,Y,Y,N,0,N
18,Joel,Santos,39.0,M,Y,Y,N,0,N
19,Krystina,Benton,23.0,F,Y,Y,Y,0,N
20,Sharon,Landry,65.0,F,N,Y,Y,0,N
21,Marjorie,Dougherty,54.0,F,Y,Y,Y,0,N
22,Kenya,Compton,38.0,M,Y,Y,Y,210,N
23,Zenobia,Morgan,NaN,M,Y,N,Y,112,N
24,Stefany,NaN,NaN,F,Y,N,Y,42,N
25,Rosaura,Ellis,33.0,M,Y,N,Y,10,Y
26,Juliane,Hayden,24.0,F,N,N,N,275,N
27,Lesley,Moran,63.0,M,N,N,N,286,Unkown - Ask Patient
28,Ricki,Bailey,59.0,M,N,N,N,82,Unkown - Ask Patient
29,Bernadette,Chan,43.0,F,Y,N,N,0,Unkown - Ask Patient
30,Tessie,Russell,74.0,F,Y,N,N,152,Unkown - Ask Patient
31,NaN,Russell,25.0,M,Y,N,N,23,Unkown - Ask Patient
32,Manuel,Mason,50.0,M,N,N,Y,66,Unkown - Ask Patient
33,Carolin,Hudson,19.0,F,Y,Y,Y,49,Unkown - Ask Patient
34,Waneta,Cohen,51.0,F,Y,Y,N,44,N
35,Rana,Parks,27.0,M,Y,Y,Y,344,Y
36,Joline,NaN,48.0,F,Y,Y,Y,41,N
37,Le,Mckenzie,47.0,M,Y,Y,N,78,Y
38,Shaquana,Yates,30.0,F,Y,Y,Y,121,N
39,Margarette,Tapia,70.0,F,Y,Y,N,235,N
40,Norah,Meyers,44.0,F,Y,Y,Y,89,N
41,Branden,Hays,53.0,M,Y,Y,N,108,N
42,Denita,Taylor,29.0,F,Y,Y,N,317,N
43,Mathilde,Gaines,32.0,F,Y,Y,N,0,N
44,Ettie,Wells,73.0,F,N,Y,N,0,N
45,Marjory,Thompson,45.0,F,N,Y,N,61,N
46,Erlinda,Hendricks,49.0,F,Y,Y,N,120,N
47,Amee,Carter,57.0,M,N,Y,N,0,Y
48,Loralee,Gates,66.0,F,Y,Y,Y,278,Y
49,Luana,Taylor,20.0,F,N,N,Y,302,N
50,Shellie,Fowler,61.0,F,Y,Y,N,3,N
51,Hortensia,Moore,71.0,F,Y,Y,N,63,N
52,Gwenda,Oneal,41.0,F,Y,Y,N,0,N
53,Latricia,Sampson,21.0,F,Y,Y,N,0,N
54,Eun,Sims,52.0,M,Y,Y,N,0,N

9. Replace the missing values in the "Age" column with the average age of the dataset.

In [14]:
dental_df["Age"].fillna(dental_df["Age"].mean(),inplace = True)

10. Now that you've filled the missing values for a few rows, drop the remaining rows that have any missing data.

In [15]:
dental_df.dropna()

,First,Last,Age,Gender,Insurance,EmergencyContact,NewPatient,OutstandingBalance,Allergies
0,Jane,Jackson,35.0,F,Y,Y,N,48,N
1,Grant,Chaney,45.4,M,Y,Y,N,15,N
2,Shellie,Fowler,45.4,F,Y,Y,N,3,N
3,Hortensia,Moore,45.4,F,Y,Y,N,63,N
4,Gwenda,Oneal,41.0,F,Y,Y,N,0,N
5,Latricia,Sampson,21.0,F,Y,Y,N,0,N
6,Eun,Sims,52.0,M,Y,Unkown - Ask Patient,N,0,N
7,Riva,Andrade,26.0,M,N,Unkown - Ask Patient,N,0,N
8,Carolyn,Taylor,69.0,F,N,Unkown - Ask Patient,N,0,N
9,Reid,Sims,37.0,M,Y,Unkown - Ask Patient,N,341,N
10,Jamila,Downs,68.0,F,Y,N,N,294,N
11,Vannesa,Hays,55.0,F,Y,Y,N,13,N
12,Andre,Griffin,22.0,M,Y,N,N,99,N
13,Lynda,Wilkinson,60.0,F,Y,Y,N,151,N
14,Gricelda,Andrade,78.0,F,N,Y,N,128,N
15,Connie,Savage,34.0,F,N,Y,Y,0,N
16,Erma,Pruitt,36.0,F,N,Y,N,0,Y
17,Krysten,Richmond,40.0,F,Y,Y,N,0,N
18,Joel,Santos,39.0,M,Y,Y,N,0,N
19,Krystina,Benton,23.0,F,Y,Y,Y,0,N
20,Sharon,Landry,65.0,F,N,Y,Y,0,N
21,Marjorie,Dougherty,54.0,F,Y,Y,Y,0,N
22,Kenya,Compton,38.0,M,Y,Y,Y,210,N
23,Zenobia,Morgan,45.4,M,Y,N,Y,112,N
25,Rosaura,Ellis,33.0,M,Y,N,Y,10,Y
26,Juliane,Hayden,24.0,F,N,N,N,275,N
27,Lesley,Moran,63.0,M,N,N,N,286,Unkown - Ask Patient
28,Ricki,Bailey,59.0,M,N,N,N,82,Unkown - Ask Patient
29,Bernadette,Chan,43.0,F,Y,N,N,0,Unkown - Ask Patient
30,Tessie,Russell,74.0,F,Y,N,N,152,Unkown - Ask Patient
32,Manuel,Mason,50.0,M,N,N,Y,66,Unkown - Ask Patient
33,Carolin,Hudson,19.0,F,Y,Y,Y,49,Unkown - Ask Patient
34,Waneta,Cohen,51.0,F,Y,Y,N,44,N
35,Rana,Parks,27.0,M,Y,Y,Y,344,Y
37,Le,Mckenzie,47.0,M,Y,Y,N,78,Y
38,Shaquana,Yates,30.0,F,Y,Y,Y,121,N
39,Margarette,Tapia,70.0,F,Y,Y,N,235,N
40,Norah,Meyers,44.0,F,Y,Y,Y,89,N
41,Branden,Hays,53.0,M,Y,Y,N,108,N
42,Denita,Taylor,29.0,F,Y,Y,N,317,N
43,Mathilde,Gaines,32.0,F,Y,Y,N,0,N
44,Ettie,Wells,73.0,F,N,Y,N,0,N
45,Marjory,Thompson,45.0,F,N,Y,N,61,N
46,Erlinda,Hendricks,49.0,F,Y,Y,N,120,N
47,Amee,Carter,57.0,M,N,Y,N,0,Y
48,Loralee,Gates,66.0,F,Y,Y,Y,278,Y
49,Luana,Taylor,20.0,F,N,N,Y,302,N
50,Shellie,Fowler,61.0,F,Y,Y,N,3,N
51,Hortensia,Moore,71.0,F,Y,Y,N,63,N
52,Gwenda,Oneal,41.0,F,Y,Y,N,0,N
53,Latricia,Sampson,21.0,F,Y,Y,N,0,N
54,Eun,Sims,52.0,M,Y,Y,N,0,N

11. Check the dataset for duplicate rows. If you have any, remove them from the dataset.

In [16]:
dental_df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52     True
53     True
54    False
dtype: bool

In [17]:
dental_df.loc[dental_df.duplicated()]

,First,Last,Age,Gender,Insurance,EmergencyContact,NewPatient,OutstandingBalance,Allergies
52,Gwenda,Oneal,41.0,F,Y,Y,N,0,N
53,Latricia,Sampson,21.0,F,Y,Y,N,0,N

In [18]:
dental_df.drop_duplicates()

,First,Last,Age,Gender,Insurance,EmergencyContact,NewPatient,OutstandingBalance,Allergies
0,Jane,Jackson,35.0,F,Y,Y,N,48,N
1,Grant,Chaney,45.4,M,Y,Y,N,15,N
2,Shellie,Fowler,45.4,F,Y,Y,N,3,N
3,Hortensia,Moore,45.4,F,Y,Y,N,63,N
4,Gwenda,Oneal,41.0,F,Y,Y,N,0,N
5,Latricia,Sampson,21.0,F,Y,Y,N,0,N
6,Eun,Sims,52.0,M,Y,Unkown - Ask Patient,N,0,N
7,Riva,Andrade,26.0,M,N,Unkown - Ask Patient,N,0,N
8,Carolyn,Taylor,69.0,F,N,Unkown - Ask Patient,N,0,N
9,Reid,Sims,37.0,M,Y,Unkown - Ask Patient,N,341,N
10,Jamila,Downs,68.0,F,Y,N,N,294,N
11,Vannesa,Hays,55.0,F,Y,Y,N,13,N
12,Andre,Griffin,22.0,M,Y,N,N,99,N
13,Lynda,Wilkinson,60.0,F,Y,Y,N,151,N
14,Gricelda,Andrade,78.0,F,N,Y,N,128,N
15,Connie,Savage,34.0,F,N,Y,Y,0,N
16,Erma,Pruitt,36.0,F,N,Y,N,0,Y
17,Krysten,Richmond,40.0,F,Y,Y,N,0,N
18,Joel,Santos,39.0,M,Y,Y,N,0,N
19,Krystina,Benton,23.0,F,Y,Y,Y,0,N
20,Sharon,Landry,65.0,F,N,Y,Y,0,N
21,Marjorie,Dougherty,54.0,F,Y,Y,Y,0,N
22,Kenya,Compton,38.0,M,Y,Y,Y,210,N
23,Zenobia,Morgan,45.4,M,Y,N,Y,112,N
24,Stefany,NaN,45.4,F,Y,N,Y,42,N
25,Rosaura,Ellis,33.0,M,Y,N,Y,10,Y
26,Juliane,Hayden,24.0,F,N,N,N,275,N
27,Lesley,Moran,63.0,M,N,N,N,286,Unkown - Ask Patient
28,Ricki,Bailey,59.0,M,N,N,N,82,Unkown - Ask Patient
29,Bernadette,Chan,43.0,F,Y,N,N,0,Unkown - Ask Patient
30,Tessie,Russell,74.0,F,Y,N,N,152,Unkown - Ask Patient
31,NaN,Russell,25.0,M,Y,N,N,23,Unkown - Ask Patient
32,Manuel,Mason,50.0,M,N,N,Y,66,Unkown - Ask Patient
33,Carolin,Hudson,19.0,F,Y,Y,Y,49,Unkown - Ask Patient
34,Waneta,Cohen,51.0,F,Y,Y,N,44,N
35,Rana,Parks,27.0,M,Y,Y,Y,344,Y
36,Joline,NaN,48.0,F,Y,Y,Y,41,N
37,Le,Mckenzie,47.0,M,Y,Y,N,78,Y
38,Shaquana,Yates,30.0,F,Y,Y,Y,121,N
39,Margarette,Tapia,70.0,F,Y,Y,N,235,N
40,Norah,Meyers,44.0,F,Y,Y,Y,89,N
41,Branden,Hays,53.0,M,Y,Y,N,108,N
42,Denita,Taylor,29.0,F,Y,Y,N,317,N
43,Mathilde,Gaines,32.0,F,Y,Y,N,0,N
44,Ettie,Wells,73.0,F,N,Y,N,0,N
45,Marjory,Thompson,45.0,F,N,Y,N,61,N
46,Erlinda,Hendricks,49.0,F,Y,Y,N,120,N
47,Amee,Carter,57.0,M,N,Y,N,0,Y
48,Loralee,Gates,66.0,F,Y,Y,Y,278,Y
49,Luana,Taylor,20.0,F,N,N,Y,302,N
50,Shellie,Fowler,61.0,F,Y,Y,N,3,N
51,Hortensia,Moore,71.0,F,Y,Y,N,63,N
54,Eun,Sims,52.0,M,Y,Y,N,0,N

12. Create a new column called "Flagged" -- this column will let the administration know that they need to contact the patient for more information. If the EmergencyContact column or the Allergies column have the following value "Unknown - Ask Patient" the "Flagged" column should have a value of 1, otherwise, it should have a value of 0.

In [19]:
dental_df["Flagged"] = np.where(((dental_df["EmergencyContact"] == "Unkown - Ask Patient") | 
                                 (dental_df["Allergies"] == "Unkown - Ask Patient")),1,0)

13. Create a new column called "Overdue Payment" - if the "outstanding balance" column is greater than 0 and the "new patient" column is equal to "N" - the "Overdue Payment" column should have a value of 1, otherwise, it should have a value of 0.

In [20]:
dental_df["Overdue Payment"] = np.where(((dental_df["OutstandingBalance"] > 0) &
                                           (dental_df["NewPatient"] == "N")),1,0)

14. Remove the "Insurance" column from the dataset.

In [21]:
dental_df.drop(columns = "Insurance")

,First,Last,Age,Gender,EmergencyContact,NewPatient,OutstandingBalance,Allergies,Flagged,Overdue Payment
0,Jane,Jackson,35.0,F,Y,N,48,N,0,1
1,Grant,Chaney,45.4,M,Y,N,15,N,0,1
2,Shellie,Fowler,45.4,F,Y,N,3,N,0,1
3,Hortensia,Moore,45.4,F,Y,N,63,N,0,1
4,Gwenda,Oneal,41.0,F,Y,N,0,N,0,0
5,Latricia,Sampson,21.0,F,Y,N,0,N,0,0
6,Eun,Sims,52.0,M,Unkown - Ask Patient,N,0,N,1,0
7,Riva,Andrade,26.0,M,Unkown - Ask Patient,N,0,N,1,0
8,Carolyn,Taylor,69.0,F,Unkown - Ask Patient,N,0,N,1,0
9,Reid,Sims,37.0,M,Unkown - Ask Patient,N,341,N,1,1
10,Jamila,Downs,68.0,F,N,N,294,N,0,1
11,Vannesa,Hays,55.0,F,Y,N,13,N,0,1
12,Andre,Griffin,22.0,M,N,N,99,N,0,1
13,Lynda,Wilkinson,60.0,F,Y,N,151,N,0,1
14,Gricelda,Andrade,78.0,F,Y,N,128,N,0,1
15,Connie,Savage,34.0,F,Y,Y,0,N,0,0
16,Erma,Pruitt,36.0,F,Y,N,0,Y,0,0
17,Krysten,Richmond,40.0,F,Y,N,0,N,0,0
18,Joel,Santos,39.0,M,Y,N,0,N,0,0
19,Krystina,Benton,23.0,F,Y,Y,0,N,0,0
20,Sharon,Landry,65.0,F,Y,Y,0,N,0,0
21,Marjorie,Dougherty,54.0,F,Y,Y,0,N,0,0
22,Kenya,Compton,38.0,M,Y,Y,210,N,0,0
23,Zenobia,Morgan,45.4,M,N,Y,112,N,0,0
24,Stefany,NaN,45.4,F,N,Y,42,N,0,0
25,Rosaura,Ellis,33.0,M,N,Y,10,Y,0,0
26,Juliane,Hayden,24.0,F,N,N,275,N,0,1
27,Lesley,Moran,63.0,M,N,N,286,Unkown - Ask Patient,1,1
28,Ricki,Bailey,59.0,M,N,N,82,Unkown - Ask Patient,1,1
29,Bernadette,Chan,43.0,F,N,N,0,Unkown - Ask Patient,1,0
30,Tessie,Russell,74.0,F,N,N,152,Unkown - Ask Patient,1,1
31,NaN,Russell,25.0,M,N,N,23,Unkown - Ask Patient,1,1
32,Manuel,Mason,50.0,M,N,Y,66,Unkown - Ask Patient,1,0
33,Carolin,Hudson,19.0,F,Y,Y,49,Unkown - Ask Patient,1,0
34,Waneta,Cohen,51.0,F,Y,N,44,N,0,1
35,Rana,Parks,27.0,M,Y,Y,344,Y,0,0
36,Joline,NaN,48.0,F,Y,Y,41,N,0,0
37,Le,Mckenzie,47.0,M,Y,N,78,Y,0,1
38,Shaquana,Yates,30.0,F,Y,Y,121,N,0,0
39,Margarette,Tapia,70.0,F,Y,N,235,N,0,1
40,Norah,Meyers,44.0,F,Y,Y,89,N,0,0
41,Branden,Hays,53.0,M,Y,N,108,N,0,1
42,Denita,Taylor,29.0,F,Y,N,317,N,0,1
43,Mathilde,Gaines,32.0,F,Y,N,0,N,0,0
44,Ettie,Wells,73.0,F,Y,N,0,N,0,0
45,Marjory,Thompson,45.0,F,Y,N,61,N,0,1
46,Erlinda,Hendricks,49.0,F,Y,N,120,N,0,1
47,Amee,Carter,57.0,M,Y,N,0,Y,0,0
48,Loralee,Gates,66.0,F,Y,Y,278,Y,0,0
49,Luana,Taylor,20.0,F,N,Y,302,N,0,0
50,Shellie,Fowler,61.0,F,Y,N,3,N,0,1
51,Hortensia,Moore,71.0,F,Y,N,63,N,0,1
52,Gwenda,Oneal,41.0,F,Y,N,0,N,0,0
53,Latricia,Sampson,21.0,F,Y,N,0,N,0,0
54,Eun,Sims,52.0,M,Y,N,0,N,0,0

15. Export your modified dataset to an excel file called "Dental Patients Updated".

In [22]:
dental_df.to_excel("Dental Patients Updated.xlsx")